.image {
  height: 300px;
  width: 200px;
  margin: 20px;
  border: 5px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none; /* important to prevent drag issues */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.selected {
  border: 5px solid rgb(0, 195, 255);
}
